<app-home></app-home><br>
<div *ngIf="searchFormGroup" >
  <form [formGroup]="searchFormGroup" (ngSubmit)="handleSearchEvents()
" class="mb-4">
    <div class="input-group">
      <input type="text" formControlName="keyword" class="form-control" placeholder="Search by nom">
      <button class="btn btn-outline-primary" data-mdb-ripple-init type="submit">
        <i class="bi bi-search"></i>
      </button>
    </div>
  </form>
</div>

<table class="table table-striped table-hover">
  <thead class="thead-dark">
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Nom</th>
    <th scope="col">Date</th>
    <th scope="col">Lieu</th>
    <th scope="col">Nombre de places</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>

  <tr *ngFor="let e of listEvenements | search: searchFormGroup?.value.keyword">
    <td>{{e.id}}</td>
    <td>{{e.nom}}</td>
    <td>{{e.date|date :'yyyy/MM/dd'}}</td>
    <td>{{e.lieu}}</td>
    <td>{{e.nbPlace}}</td>
    <td>
      <button class="btn btn-primary btn-sm me-2 " (click)="editEvent(e.id)">
        <i class="bi bi-pencil "></i>
      </button>
      <button class="btn btn-danger btn-sm me-2" (click)="deleteEvent(e.id)">
        <i class="bi bi-trash"></i>
      </button>
    </td>
  </tr>
  </tbody>
</table>


<nav aria-label="Page navigation example" class="d-flex justify-content-center">
  <ul class="pagination">
    <li class="page-item" [ngClass]="{'disabled': currentPage === 0}">
      <button class="page-link" (click)="gotoPage(currentPage - 1, $event)">Previous</button>
    </li>
    <li *ngFor="let page of [].constructor(totalPages); let i = index" class="page-item"
        [ngClass]="{'active': i === currentPage}">
      <button class="page-link" (click)="gotoPage(i, $event)">{{ i + 1 }}</button>
    </li>
    <li class="page-item" [ngClass]="{'disabled': currentPage === totalPages - 1}">
      <button class="page-link" (click)="gotoPage(currentPage + 1, $event)">Next</button>
    </li>
  </ul>
</nav>







