<app-home></app-home>
<div class="container mt-4">
  <h2>Modifier l'Événement</h2>

  <form *ngIf="evenementToEdit" (ngSubmit)="updateEvent()" >

    <div class="form-group mb-3">
      <label for="nom" class="form-label">Nom</label>
      <input id="nom" type="text" [(ngModel)]="evenementToEdit.nom"
        name="nom" class="form-control" required placeholder="Nom de l'événement"/>
    </div>
    <div class="form-group mb-3">
      <label for="date" class="form-label">Date</label>
      <input id="date" type="date" [(ngModel)]="formattedDate"
        name="date" class="form-control" required (change)="onDateChange($event)"/>
    </div>
    <div class="form-group mb-3">
      <label for="lieu" class="form-label">Lieu</label>
      <input id="lieu" type="text" [(ngModel)]="evenementToEdit.lieu"
        name="lieu" class="form-control" required placeholder="Lieu de l'événement"/>
    </div>
    <div class="form-group mb-3">
      <label for="nbPlace" class="form-label">Nombre de places</label>
      <input id="nbPlace" type="number" [(ngModel)]="evenementToEdit.nbPlace"
        name="nbPlace" class="form-control" required placeholder="Nombre de places disponibles"/>
    </div>
    <div class="form-group mb-3">
      <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
      <button type="button" routerLink="/evenement" class="btn btn-secondary ms-2">Annuler</button>
    </div>
  </form>
</div>
